@use "sass:map";
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

// Global CSS Custom Properties
:root {
  --background: #{map.get(map.get(v.$colors, primary), light)};
  --foreground: #{map.get(map.get(v.$colors, secondary), light)};

  @include m.dark-mode {
    --background: #{map.get(map.get(v.$colors, primary), dark)};
    --foreground: #{map.get(map.get(v.$colors, secondary), dark)};
  }
}
