@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

// Global CSS Custom Properties
:root {
  --background: #{v.$primary-light};
  --foreground: #{v.$secondary-light};

  @include m.dark-mode {
    --background: #{v.$primary-dark};
    --foreground: #{v.$secondary-dark};
  }
}
